html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

header {
  padding: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerLinks {
  display: flex;
  align-items: center;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.portfolioImage {
  width: 60%;
  height: auto;
  border-radius: 50%;
}

.socialLink {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: #000;
  text-decoration: none;
}

.socialIcon {
  margin-right: 0.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #4c1d95;
}

.nav-links {
  width: 100%;
  background-color: #f9f5ff;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  color: #4c1d95;
}

.logo {
  width: 10rem;
  fill: #000;
}

.dark .logo {
  fill: #fff;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .homepage {
    display: flex;
    flex-direction: row;
  }
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark a {
  color: #f9f5ff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .tag {
  background-color: #030037;
}

.dark .hamburger .line {
  background-color: #fff;
}