---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Message from "../components/Message";
import picturePortfolio from "../assets/portfoliofoto.jpg";

const pageTitle = "Hi, I'm Thyssa De Keyser";
---

<div>
  <BaseLayout pageTitle={pageTitle}>
    <div class="homepage">
      <div>
        <h2>
          Full-stack web developer <br> with a preference for frontend development &
          design
        </h2>
        <Message
          client:load
          messages={[
            "React",
            "Vue",
            "Astro",
            "Figma",
            "HTML",
            "CSS",
            "JavaScript",
            "TypeScript",
            "Adobe XD",
            "Photoshop",
            "After Effects",
            "Tailwind CSS",
            "React Native",
          ]}
        />
      </div>
      <div >
        <img src={picturePortfolio} alt="Portfolio" class="portfolioImage"/>
      </div>
    </div>
  </BaseLayout>
</div>
