---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Message from "../components/Message";
import picturePortfolio from "../assets/portfoliofoto.jpg";

const pageTitle = "Hello, I'm Thyssa De Keyser";
---

<div>
  <BaseLayout pageTitle={pageTitle}>
    <div class="homepage">
      <div class="content">
        <h2>
          Full-stack web developer with a preference for frontend development & design
        </h2>
        <Message
          client:load
          messages={[
            "React",
            "Vue",
            "Astro",
            "Figma",
            "HTML",
            "CSS",
            "JavaScript",
            "TypeScript",
            "Adobe XD",
            "Photoshop",
            "After Effects",
            "Tailwind CSS",
            "React Native",
          ]}
        />
      </div>
      <div class="image">
        <img src={picturePortfolio} alt="Portfolio" style={{ width: '100%', maxWidth: '400px' }} />
      </div>
    </div>
  </BaseLayout>
</div>
