---
const { platform, username } = Astro.props;
import { Linkedin, Github } from 'lucide-astro';

interface PlatformIcons {
  [key: string]: any;
}

const platformIcons: PlatformIcons = {
  linkedin: Linkedin,
  github: Github,
};
const SocialIcon = platformIcons[platform.toLowerCase()];

---

<a href={`https://www.${platform}.com/${username}`} class="socialLink">
  {platformIcons[platform.toLowerCase()] && <SocialIcon />}
  {platform}
</a>
